/* begin:#app */

#app {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

/* begin:#app #sidebar */

#app #sidebar {
    display: flex;
    flex-direction: column;

    padding: var(--app_sidebar_padding);
}

/* begin:#app #sidebar #sidebar-top */

#app #sidebar #sidebar-top {
    flex-grow: 1;
}

/* end:#app #sidebar #sidebar-top */
/* begin:#app #sidebar #sidebar-bottom */

#app #sidebar #sidebar-bottom {}

/* end:#app #sidebar #sidebar-bottom */
/* end:#app #sidebar */
/* begin:#app#main-window */

#app #main-window {
    flex-grow: 1;
}

/* begin:#app #main-window #titlebar */

#app #main-window #titlebar {
    display: flex;
    flex-direction: row;
}

/* begin:#app #main-window #titlebar #titlebar-title */

#app #main-window #titlebar #titlebar-title {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

#app #main-window #titlebar #titlebar-title #titlebar-title-label {
    font-size: var(--titlebar_title_label_font-size);
}

/* end:#app #main-window #titlebar #titlebar-title */
/* begin:#app #main-window #titlebar #titlebar-controls */

#app #main-window #titlebar #titlebar-controls {
    display: flex;
    flex-direction: row;
}

#app #main-window #titlebar #titlebar-controls .titlebar-controls-icon {
    padding: var(--app_main-window_titlebar_controls_icon_padding-vertical) var(--app_main-window_titlebar_controls_icon_padding-horizontal);
    transition: background-color 0.1s ease-in-out;
}

#app #main-window #titlebar #titlebar-controls .titlebar-controls-icon:hover {
    background-color: var(--app_main-window_titlebar_controls_icon_hover_background-color);
}

#app #main-window #titlebar #titlebar-controls .titlebar-controls-icon#titlebar-controls-close:hover {
    background-color: var(--app_main-window_titlebar_controls_icon_close_hover_background-color);
}

#app #main-window #titlebar #titlebar-controls .titlebar-controls-icon img {
    width: 14px;
}

/* end:#app #main-window #titlebar #titlebar-controls */
/* end:#app #main-window #titlebar */
/* end:#app #main-window */
/* end:#app */
