#app {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

#app #window {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#app #window #window-contents {
    flex-grow: 1;
}